webview.fb_window
{
    position: absolute; 
    right: 0;
    top: 0;
    bottom: 0;
    width: 350px;
    height: 600px;
}


#port_manual
{
    display: none;
}

.loader
{
    /*display: none;*/
    margin: 25px auto;
    width: 200px;
    height: 25px;
}

#port_wizard_text
{
    font-size: 10pt;
    font-weight: bold;
}

div#home_popup
{
    position: fixed;
    float: none;
    top: 50%;
    left: 50%;
    z-index: 100;
    
    background-color: white;
    
    margin-left: -250px;
    width: 500px;
    margin-top: -125px;
    height: 250px;
    
    padding: 20px;
    
    box-shadow: 0 0 50px black;
    border: 1px solid gray;
    
    display: none;
}

.ui-progressbar {
    position: relative;
}
.progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

#progressbar
{
    display: none;
}

input[type=button]
{         
    width: 230px;
    margin-top: 5px;
    margin-left: 10px;
    text-align: center;

}

div.alert
{
    font-size: 15pt;
    margin: 15px;
    color: #AA0000;
    position: relative;
    width: 400px;
}